@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    string user = HttpContextAccessor.HttpContext.Session.GetString("user");
}
@model ass_ciname_web.Models.Show
@{
    ViewData["Title"] = "Index";
}

<h1>Show</h1>
<form asp-action="Index">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="RoomId"></label>
            <select asp-for="RoomId" asp-items="ViewBag.Rooms" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="ShowDate"></label>
            <input type="date" asp-for="ShowDate" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="FilmId"></label>
            <select asp-for="FilmId" asp-items="ViewBag.Films" class="form-control"></select>
        </div>

        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>
 @if (user != null && user != "")
{
 <p class="text-right">
    <a asp-action="Create">Create New</a>
</p>  
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Show item in ViewBag.shows)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Film.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slot)
                </td>
                <td>
                    <a asp-controller="Booking" asp-action="Index" asp-route-id="@item.ShowId">Booking</a> |
                    <a asp-action="Details" asp-route-id="@item.ShowId">Details</a> 
                    @if (user != null && user != "")
                    {
                        <span>
                            |<a asp-action="Edit" asp-route-id="@item.ShowId">Edit</a>
                            |<a asp-action="Delete" asp-route-id="@item.ShowId">Delete</a>
                        </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
